.container-menu {
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
}

.barra-navegacao {
    width: 100%; /* Largura total */
    height: 80px; /* Altura da barra */
    background-color: #C9B7E6; /* Cor de fundo */
    color: #fff; /* Cor do texto */
    display: flex; /* Usar flexbox */
    justify-content: space-between; /* Alinhar itens nas extremidades */
    align-items: center; /* Centraliza verticalmente */
    padding: 0 20px; /* Espaçamento interno */
    position: fixed; /* Fixa na parte superior */
    top: 0; /* Alinha ao topo */
    left: 0; /* Alinha à esquerda */
    z-index: 1000; /* Garante que fique acima de outros elementos */
}

.nav-links {
    display: flex; /* Usar flexbox para os botões */
}

.nav-button {
    background: transparent; /* Fundo transparente */
    border: none; /* Remove borda padrão */
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor em forma de ponteiro */
    margin-left: 15px; /* Espaçamento entre botões */
}

.sidebar {
    width: 100px; /* Largura inicial */
    height: calc(100% - 60px); /* Ajusta a altura da sidebar */
    background-color: #714D95;
    color: #fff;
    position: fixed; /* Fixa à esquerda */
    top: 60px; /* Alinha abaixo da barra de navegação */
    left: 0; /* Alinha à esquerda da tela */
    transition: width 0.3s;
    overflow: hidden;
    border-bottom-right-radius: 15px; /* Arredonda o canto inferior direito */
}

.sidebar:hover {
    width: 200px; /* Largura ao expandir */
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinha à esquerda */
    justify-content: flex-start; /* Alinha ao topo */
    height: 100%; /* Para ocupar toda a altura */
    padding: 10px; /* Espaçamento interno */
}

/* Estilos para os itens da sidebar permanecem inalterados */
.item {
    display: flex;
    align-items: center; /* Alinha verticalmente */
    width: 100%; /* Para ocupar toda a largura */
    margin: 15px 0; /* Espaçamento entre itens */
    padding: 10px; /* Ajustado para aumentar a área clicável */
    position: relative; /* Para posicionar o pseudo-elemento */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
    border-radius: 5px; /* Bordas arredondadas nos itens */
    background: transparent; /* Fundo transparente */
    border: none; /* Remove borda padrão de botões */
    color: white; /* Cor do texto */
    cursor: pointer; /* Cursor em forma de ponteiro */
}

.item:hover {
    background-color: #947cc7; /* Cor de fundo ao passar o mouse */
}

.item:hover::after {
    content: ''; /* Necessário para o pseudo-elemento */
    position: absolute;
    right: 0; /* Posiciona à direita do item */
    top: 0; /* Começa no topo do item */
    width: 5px; /* Largura da barra */
    height: 100%; /* Altura igual à do item */
    background-color: #21D29D; /* Cor da barra */
}

.icon {
    font-size: 24px; /* Tamanho fixo para os ícones */
    margin-left: 10px; /* Espaçamento entre texto e ícone */
}

.text {
    display: none; /* Inicialmente escondido */
}

.sidebar:hover .text {
    display: block; /* Exibe o texto ao passar o mouse */
    margin-right: 10px; /* Espaçamento entre texto e ícone */
}

.central-content {
    display: flex;
    flex-direction: column; /* Organiza em coluna */
    align-items: center; /* Centraliza horizontalmente */
    justify-content: center; /* Centraliza verticalmente */
    height: calc(100vh - 140px); /* Altura da tela menos a altura da barra de navegação e sidebar */
    margin-top: 60px; /* Espaço abaixo da barra de navegação */
}

.item-container {
    display: flex; /* Usar flexbox para alinhar itens */
    justify-content: space-between; /* Espaça o conteúdo */
    align-items: center; /* Centraliza verticalmente */
    width: 100%; /* Ocupa toda a largura disponível */
}

.white-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 1000px;
    overflow: hidden; /* Esconde o conteúdo que ultrapassa */
}

.expanded-content {
    max-height: 0; /* Altura inicial (escondido) */
    overflow: hidden; /* Esconde o conteúdo que ultrapassa */
    background-color: #fff; /* Cor de fundo */
    padding: 0; /* Inicialmente sem padding */
    border-radius: 5px; /* Bordas arredondadas */
    transition: max-height 0.5s ease-in-out, padding 0.5s ease-in-out; /* Transições suaves */
}

.white-box .expanded-content.expanded {
    max-height: 150px; /* Ajuste para a altura máxima quando expandido */
    padding: 10px; /* Espaçamento interno quando expandido */
}


.simbolo-mais {
    font-size: 24px; /* Tamanho do símbolo */
    margin-left: 10px; /* Espaçamento entre o texto e o símbolo */
}