.container-configuracoes {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Duas colunas */
  gap: 5px; /* Espaçamento entre os containers */
}

/* Estilização específica para cada container */
.container-perfil {
  background-image: url('../logo/delicious-mandarin.jpg');
  background-size: cover; /* Faz a imagem cobrir todo o container */
  margin: 10px 10px;
  padding: 100px 140px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.container-notificacoes {
  background-image: url('../logo/still-life-recipe-with-plantain-banana.jpg');
  background-size: cover; /* Faz a imagem cobrir todo o container */
  margin: 10px 10px;
  padding: 100px 140px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.container-seguranca {
  margin: 10px 10px;
  padding: 100px 140px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.container-sobre {
  margin: 10px 10px;
  padding: 100px 140px;
  font-size: 15px;
  color: #333;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  transition: background-color 0.3s;
}

