.container-configuracoes {
  display: flex;
  flex-direction: column; /* Coloca os containers em coluna */
  align-items: center; /* Centraliza os itens horizontalmente */
  margin: 20px; /* Espaçamento externo */
}

.container-configuracoes div {
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  padding: 150px 185px; /* Espaçamento interno */
  margin: 15px 15px; /* Espaçamento entre os containers */
  cursor: pointer; /* Cursor de ponteiro ao passar o mouse */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s; /* Transição suave na mudança de cor */
  background-color: white; /* Cor de fundo padrão */
  color: black; /* Cor do texto */
}

/* Estilização específica para cada container */
.container-perfil {
  background-color: white; /* Cor padrão */
}

.container-notificacoes {
  background-color: white; /* Cor padrão */
}

.container-seguranca {
  background-color: white; /* Cor padrão */
}

.container-sobre {
  background-color: white; /* Cor padrão */
}

/* Efeitos de hover para cada container */
.container-perfil:hover {
  background-color: #45a049; /* Verde mais escuro ao passar o mouse */
}

.container-notificacoes:hover {
  background-color: #1976D2; /* Azul mais escuro ao passar o mouse */
}

.container-seguranca:hover {
  background-color: #d32f2f; /* Vermelho mais escuro ao passar o mouse */
}

.container-sobre:hover {
  background-color: #fb8c00; /* Laranja mais escuro ao passar o mouse */
}
