/* Corpo */
body {
  background-color: #7E5EC2;
  margin: 0;
  font-family: 'Roboto', Arial, sans-serif;
}
.image-container {
  text-align: center;
  max-width: 100%;
  margin: 50px auto;

}

.image-container img {
  width: 300px; /* Ajuste conforme necessário */
  height: auto; /* Mantém a proporção da imagem */
}


/* Container do formulário, igual ao de cadastro e login */
.form-container {
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 2px solid #7d4cdb;
  border-radius: 10px;
  background-color: #7d4cdb;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Título */
h2 {
  text-align: left;
  color: white;
  font-size: 40px;
  font-weight: bold;
}

/* Carrossel e quadrados */
.carousel {
  display: flex;
  overflow-x: hidden;
  scroll-snap-type: x mandatory;
  width: 100%; /* Alinhado ao formulário */
  padding: 10px;
}

.card {
  flex: 0 0 30%;
  margin: 10px;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-snap-align: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h3 {
  font-size: 18px;
  text-align: center;
  margin-bottom: 20px;
}

/* Botões de + e - para controle de peso */
.button-group {
  display: flex;
  gap: 10px;
}

.minus-button,
.plus-button {
  width: 40px;
  height: 40px;
  background-color: #21d29d;
  color: white;
  border: none;
  border-radius: 50%;
  font-size: 24px;
  cursor: pointer;
}

.minus-button:hover,
.plus-button:hover {
  background-color: #1ca885;
}

/* Botões de navegação (setas) */
.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: #21d29d;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1;
}

.nav-button:hover {
  background-color: #1ca885;
}

.nav-button.left {
  left: 10px;
}

.nav-button.right {
  right: 10px;
}

/* Ajustando largura máxima */
@media (max-width: 900px) {
  .form-container {
    width: 95%;
  }
}