body {
    font-family: Arial, sans-serif;
    background: linear-gradient(90deg,#7E5EC2,#C9B7E6,#F3F3F3);
    /* background-image: url('../logo/fundo3.png');
    background-size: cover;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #7d4cdb; /* Cor roxa do fundo do formulário */
    width: 800px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    position: relative;
}

.container h2 {
    color: white;
    text-align: center;
    margin-bottom: 20px;
}

label {
    color: white;
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
}

input[type="text"],
input[type="date"],
input[type="number"] {
    width: 60%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px  solid;
    border-radius: 5px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.gender {
    position: absolute; /* Torna a posição do bloco dependente do container */
    top: 40%; /* Centraliza verticalmente */
    right: 50px; /* Ajuste a distância da borda direita conforme necessário */
    /* flex-direction: column;  */
    /* Alinha os rótulos e botões de opção verticalmente */

}

.gender label {
    font-size: 16px;
    color: white;
}

.gender input[type="radio"] {
    margin-right: 8px;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    background-color: #3dc4a7; /* Verde para os botões */
    color: white;
    padding: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.buttons button:hover {
    background-color: #35ac91;
}

.buttons .back {
    background-color: #6c63ff; /* Cor de roxo mais escura para o botão de voltar */
}

.buttons .back:hover {
    background-color: #5a51e1;
}

.logo {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.logo img {
    width: 300px;
}
