.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #2C2560;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.App-link {
  color: #61dafb;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #2C2560; /* Cor de fundo do formulário */
  border-radius: 8px;
  color: white; /* Cor do texto */
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white; /* Cor do texto dos rótulos */
}

input {
  width: 100%;
  padding: 8px;
  border: 1px solid #444; /* Cor da borda dos campos */
  border-radius: 4px;
  background-color: #333; /* Cor de fundo dos campos */
  color: white; /* Cor do texto dos campos */
}

input::placeholder {
  color: #aaa; /* Cor do texto do placeholder */
}

button {
  padding: 10px 20px;
  background-color: #007bff; /* Cor de fundo do botão */
  color: white; /* Cor do texto do botão */
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}

.error-list {
  color: red; /* Cor do texto de erros */
  list-style-type: none;
  padding: 0;
}

.error-list li {
  margin-bottom: 5px;
}
